.menuContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 500px;
  width: 100%;
  display: flex;
}

.menu {
  position: relative;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: 1px 0px 10px gray;
  padding: 20px;
  opacity: 0.9;
  text-align: right;
  width: 60%;

  flex-grow: 1;
  flex-shrink: 0;
}
.title {
  font-size: 4em;
  margin-bottom: 20px;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  font-size: 1.2em;
  margin-bottom: 5px;
  cursor: pointer;
}
.menu .exit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.2em;
}

.another {
  width: 50%;
  background-color: gray;
  height: 100vh;
  opacity: 0.4;
}

.themeContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(180, 180, 180, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.themeContainer .themeBox {
  width: 800px;
  max-width: 80%;
  padding: 10vw;
  background-color: white;
  border-radius: 10px;
}
.themeBox .themeTitle {
  text-align: center;
  margin-bottom: 20px;
}
.themeBox button {
  font-size: 1em;
  border: none;
  background-color: inherit;
}
.optionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.optionContainer .themeOption {
  border: 1px solid gray;
  padding: 20px 0;
  border-radius: 15px;
  font-size: 1em;
}
.themeOption.white {
  color: black;
  background-color: #fdfdfd;
}
.themeOption.black {
  color: white;
  background-color: #505050;
}
.themeBox .closeContainer {
  text-align: center;
}
.closeContainer .close {
  font-size: 1.1em;
  margin-top: 20px;
}
