.managementContainer .title {
  margin: 20px;
  text-align: center;
}

.optionContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}
.option {
  margin: 0 auto;
  background-color: white;
  border: 1px solid gray;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  font-size: 1em;
}
.option:active {
  background-color: #f1f1f1;
}
.option.dark {
  background-color: #555555;
  color: #f0f0f0;
  border: 1px solid #999999;
}
.option.dark:active {
  background-color: #444444;
}
