.menuContainer {
  position: fixed;
  height: 100vh;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: 1px 0px 10px gray;
  left: 0;
  padding: 20px;
  opacity: 0.9;
}
.title {
  font-size: 15vw;
  margin-bottom: 20px;
}
.menuContainer ul {
  list-style-type: none;
}
.menuContainer li {
  text-align: right;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.menuContainer .exit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.2em;
}
