.menu {
  position: fixed;
  height: 100vh;
  top: 0;
  background-color: #f9f9f9;
  box-shadow: 1px 0px 10px gray;
  left: 0;
  padding: 20px;
  opacity: 0.9;
  padding-left: 10vw;
  text-align: right;
  width: 60%;
}
.title {
  font-size: 15vw;
  margin-bottom: 20px;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.menu .exit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.2em;
}

.another {
  position: fixed;
  width: 40%;
  top: 0px;
  right: 0px;
  background-color: gray;
  height: 100vh;
  opacity: 0.4;
}
