* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
}
.container a {
  text-decoration: none;
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navButtonContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}
.navButtonContainer img {
  width: 40%;
}
.navButtonContainer button {
  font-size: 0.9em;
  margin-top: 1px;
  border: none;
  background-color: unset;
}

.addItemButtonContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: -50px;
  width: fit-content;
  height: 40px;

  background-color: rgb(232, 232, 232);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 7px;
}
.addItemButtonContainer p {
}
.addItemButtonContainer img {
  height: 30px;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
}

.currentPage {
  background-color: #eaeaea;
  border-radius: 15px;
}
