.container {
  width: 80%;
  margin: 15px auto;
  min-height: 100vh;
  padding: 10px 0;
}

.title {
  text-align: center;
  font-size: 40px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin: 20px 20px 0;
}

.todoContainer {
  width: 90%;
  margin: 10px auto;
  list-style-type: none;
  padding: 20px;
}

.item {
  margin-bottom: 12px;
  font-size: 1.1em;
  border-left: 2px solid gray;
  padding: 3px 5px;
}
.item input {
  margin-right: 5px;
}
